<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    
        <!-- Comment out Below to turn off detailed server errors -->
        <httpErrors errorMode="Detailed"/>
        
        <!-- Change the below settings to match your environment -->
        <fastCgi>
            <application fullPath="C:\php5\php-cgi.exe" activityTimeout="1200">
                <environmentVariables>
                </environmentVariables>
            </application>
        </fastCgi>
    
		<rewrite>
		  <rules>
		    <rule name="Imported Rule 1" stopProcessing="true">
		      <match url=".*" ignoreCase="false" />
		      <conditions>
		        <!--# uncomment the following line, if you are having trouble-->
		        <!--# getting no_script_name to work-->
		        <!--#RewriteBase /-->
		        <!--# we skip all files with .something-->
		        <add input="{URL}" pattern="\..+$" ignoreCase="false" />
		        <add input="{URL}" pattern="\.html$" ignoreCase="false" negate="true" />
		        <add input="{URL}" pattern="\.php$" ignoreCase="false" negate="true" />
		      </conditions>
		      <action type="None" />
		    </rule>
		    <!--# we check if the .html version is here (caching)-->
		    <rule name="Imported Rule 2">
		      <match url="^$" ignoreCase="false" />
		      <action type="Rewrite" url="index.html" appendQueryString="true" />
		    </rule>
		    <rule name="Imported Rule 3">
		      <match url="^([^.]+)$" ignoreCase="false" />
		      <action type="Rewrite" url="{R:1}.html" appendQueryString="true" />
		    </rule>
		    <!--# no, so we redirect to our front web controller-->
		    <rule name="Imported Rule 4" stopProcessing="true">
		      <match url="^(.*)$" ignoreCase="false" />
		      <conditions>
		        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
		      </conditions>
		      <action type="Rewrite" url="index.php" appendQueryString="true" />
		    </rule>
		  </rules>
		</rewrite>
    </system.webServer>
</configuration>





